.Modal * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Modal .box-qty {
  display: flex;
  align-items: center;
  /* background-color: beige; */
  width: 70px;
}

.Modal .box-qty p {
  font-size: 0.9rem;
  margin-top: 2px;
}

.Modal .box-qty button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  border: none;
  width: 30px;
  height: 20px;
}

.Modal .cartItem {
  margin-bottom: 30px;
}

.Modal .cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
}

.Modal .empty {
  text-align: center;
  padding: 30px;
}



.Modal .cart-container div {
  margin: 0;
}

.Modal .imageandname {
  width: 200px;
  height: 100px;
}

.Modal .image {
  width: 100px;
  height: 100px;
}

.Modal .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Modal .cartname {
  font-size: 0.8rem;
}

.Modal .cartprice {
  text-align: center;
  width: 80px;
  font-size: 0.9rem;
  /* background-color: aqua; */
  

}
