.Cartpage {
  margin-bottom: 60px;

}



.Cartpage {
  margin-top: 100px;
}
.Cartpage .box-qty {
  display: flex;
  align-items: center;
  /* background-color: beige; */
  width: 70px;
}

.Cartpage  .box-qty p {
  font-size: 0.9rem;
  margin-top: 18px;
}

.Cartpage  .box-qty button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  border: none;
  width: 30px;
  height: 20px;
}



.Cartpage .cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);

  margin-bottom: 30px;
}

.Cartpage .cart-container div {
  margin: 0;
}

.Cartpage .imageandname {
  width: 200px;
  height: 100px;
}

.Cartpage .image {
  width: 100px;
  height: 100px;
}

.Cartpage .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Cartpage .cartname {
  font-size: 0.8rem;
}

.Cartpage .cartprice {
  text-align: center;
  width: 80px;
  font-size: 0.9rem;
}


.Cartpage .total-price {
  margin-left: 20px;
}
