* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-qty {
  display: flex;
  align-items: center;
  /* background-color: beige; */
  width: 70px;
}

.box-qty p {
  font-size: 0.8rem;
  margin-top: 18px;
}

.box-qty button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  border: none;
  width: 30px;
  height: 20px;
}



.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;
  background-color: transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);

  margin-bottom: 30px;
}

.cart-container div {
  margin: 0;
}

.imageandname {
  width: 200px;
  height: 100px;
}

.image {
  width: 100px;
  height: 100px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cartname {
  font-size: 0.8rem;
}

.cartprice {
  text-align: center;
  width: 70px;
  font-size: 0.8rem;
}
