.cart-container {
  display: flex;
  width: 70rem;
  height: 100vh;
  background-color: aliceblue;
  margin: 0 auto;
}

.cart-container div {
  margin: 20px;
  /* background-color: bisque; */
}

.cart {
  display: flex;
  width: 60%;
  height: 150px;
  /* background-color: aquamarine; */
  align-items: flex-start;
}

.qty {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
}
.box p {
  line-height: 40px;
}

.box button {
  margin: 0 10px;
  border: none;
  background-color: transparent;
}

.checkout {
  background-color: antiquewhite;
  width: 40%;
  height: 100vh;
}
