form {
  /* background-color: rgb(196, 255, 235); */
 
}



form input {
  background-color: transparent;
  margin-top: 25px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.562);
}


form input:not(.name){
    width: 100%;

}

.name {
    display: inline-block;
    margin: 0.5%;
}

 #firstName {
  width: 49%;
}

 #lastName {
  width: 49%;
 
}


.return-cart {
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.return-cart p {
    margin-top: 20px;
     
}