.Checkout form {
  /* background-color: aqua; */
}

::placeholder {
  font-size: 0.9rem;
}

.Checkout form input {
  margin-top: 25px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.562);
}

form input:not(.name) {
  width: 100%;
}

/* #firstName {
  width: 49%;
}

#lastName {
  width: 49%;
} */

.return-cart {
  margin-top: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.return-cart p {
  margin-top: 15px;
}

/* products  */

.flex1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Checkout .image {
  width: 100px;
  height: 100px;
  /* background-color: black; */
}

.Checkout .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Checkout .box-qty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: rgb(34, 27, 80);
  color: white;
  border-radius: 100%;
}

.Checkout .price {
  text-align: end;
  width: 45px;
}

.Checkout .cart-title {
  margin-left: 10px;
  width: 320px;
}

.price-devision {
  border-top: 1px solid rgba(128, 128, 128, 0.329);
  margin-top: 30px;
  padding: 50px 0 70px;
  display: flex;
  flex-direction: column;
}

.price-box {
  display: flex;
  justify-content: space-between;
}
