.mainDivNotFound {
    display: flex;
    width: 100%;
    height: 100%;
}

.leftDivNotFound {
    width: 100%;
}

.rightDivNotFound {
    width: 100%;
    background-color: rgb(22, 22, 148);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.videoNotFound {
    width: 100%;
    height: 100%;
}

.backDivNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
}

.h1NotFound, .h2NotFound {
    padding: 10px;
}

.linkHomeNotFound {
    color:#FFFBE6;;
    text-decoration: none;
}



