.Products .pastries {
    display: flex;
    justify-content: space-between;
    padding:10px 70px;

}

.Products .pastries p {
    cursor: pointer;
}



.Products .pastries a:visited {
    color: gray;
}
.Products .pastries a:hover {
    color: rgb(5, 5, 48);
  

}