.Products .pastries {
    display: flex;
    justify-content: space-between;
    padding:10px 70px;

}

.Products .pastries a {
    color: gray; 
    text-decoration: none;
}



.Products .pastries a:visited {
    color: gray;
}
.Products .pastries a:hover {
    color: rgb(5, 5, 48);
  

}